.center{
  text-align: center;
}

.head1{
  background: #c2c47e;
  background: linear-gradient(59deg, rgba(194, 196, 126, 1) 5%, rgba(245, 239, 159, 1) 100%);
  display: block;
  border:5px inset rgb(161, 161, 127);
}

html,body{
  background: rgb(245, 215, 141);
}

.創業年数{
  display: block;
  margin-top: 3rem;
}

.menu{
  background: rgba(189, 184, 125, 0.63);
  background: linear-gradient(95deg, rgba(214, 206, 88, 0.514) 50%, rgba(255, 186, 106, 0.712) 50%);
  display: block;
  width: auto;
  margin-top: 3rem;
  border:5px inset rgba(136, 118, 69, 0.712);
  position: relative; 
}

.menu1-1{
  display: inline-block;
  position: relative;
  left:1rem;
}

.menu-sq{
  background: white;
  display: block;
  width: 75%;
  margin: auto;
  max-width: 40rem;
  height: 100rem;
  margin-bottom: 10rem;
}

.border{
  border-top: 0.01rem dashed gray;
}

.border1-1{
  display: block;
  margin-bottom: 3rem;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(95deg, rgba(214, 206, 88, 0.514) 50%, rgba(255, 186, 106, 0.712) 50%);
  color: black;
  border:0.5rem outset rgba(255, 186, 106, 0.712);
}

.nav a {
  margin-left: 1rem;
  color: black;
  text-decoration: none;
}

#toTop {
  position: fixed;
  right: 1.2rem;
  bottom: 1.2rem;
}



.menu-title {
  cursor: pointer;
}

.dropdown {

}

.dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
}
@media (hover: hover) {
  .menu:hover .dropdown {
    display: block;
  }
}


.dropdown {
 
    position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: #222;
  padding: 0.5rem;
  z-index: 10;
  border-left:0.3rem solid maroon;
}

.menu.open .dropdown {
  display: block;
}

/* 念のため */
.menu-title {
  cursor: pointer;
  user-select: none;
}


.menu {
  position: relative;
  z-index: 5;
}
.dropdown {
  z-index: 10;
}

.shoyu{
  display: block;
  margin-top: 3rem;
}
html,body{
  background: rgb(245, 215, 141);

  font-family:
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Yu Gothic",
    "YuGothic",
    "Meiryo",
    "Noto Sans JP",
    sans-serif;
}
