.center{
  text-align: center;
}
.head1{
  background: #c2c47e;
background: linear-gradient(59deg, rgba(194, 196, 126, 1) 5%, rgba(245, 239, 159, 1) 100%);;
  display: block;
  border:5px inset rgb(161, 161, 127)
}
html,body{
  background: rgb(255, 242, 208);
}

.創業年数{
  display: block;
  margin-top: 3rem;
}
.menu{
  background: RGBA(189, 184, 125, 0.63);
background: linear-gradient(95deg, rgba(214, 206, 88, 0.514) 50%, rgba(255, 186, 106, 0.712) 50%);
  
  display: block;
  width: auto;
  margin-top: 7rem;
  border:5px inset rgba(136, 118, 69, 0.712)
}
.menu1-1{
  display: inline-block;
  position: relative;
  left:1rem;
}
body {
  font-family:
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}
